.navbar {
    &__list {
        display: flex;
        &-item {
            white-space: nowrap;
            margin-right: 30px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
            &--burger {
                position: relative;
                width: 34px;
                height: 16px;
            }
        }
    }
    &--header {
        padding-top: 51px;
    }
}