.section {
    &__title {
        font-weight: bold;
        font-size: 27.7435px;
        line-height: 33px;
        text-transform: uppercase;
        text-align: center;
        &--news {
            margin-bottom: 60px;
        }
        &--advantage {
            margin-bottom: 131px;
        }
        &--feedback {
            margin-bottom: 100px;
        }
    }
}